node_modules/
.dist/
build/
.astro/

.env
.env.* 

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS system files
.DS_Store
Thumbs.db
dist/

*.txt

.venv

.repo_map_structure.json
.repo-map-cache.db
.repomapignore

.gitingestignore

